body { 
    background-color: beige;
}
h1 {
    text-align: center; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode'; 
}
#eval {
    text-align: center; 
    padding-bottom: 10px;
}
#output {
    text-align: center; 
    min-width: 500px; 
}
#evalbutton {
    font-family: 'Trebuchet MS';
    font-weight: bold; 
    font-size: 18px;  
}
#prevansbutton {
    font-family: 'Trebuchet MS'; 
    font-weight: bold; 
    font-size: 12px; 
    flex-direction: column;
}
#backspace {
    font-family: 'Trebuchet MS'; 
    font-weight: bold; 
    font-size: 12px; 
    flex-direction: column;  
}
textarea {
    resize: none;
    width: 500px; 
    height: 20px; 
    font-size: 16px; 
    font-family: 'Trebuchet MS';
    font-weight: 16px; 
    margin-bottom: 10px;
    justify-content: center; 
}
#allbuttons { 
    display: flex;
    justify-content: center;
}
#original {
    padding-right: 30px; 
}
#expansion {
    padding-left: 30px; 
}



.ogbutton{
    background-color: aliceblue;
    height: 50px;
    width: 50px; 
    border-radius: 100px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: bold;
    text-align: flex; 
    margin: 1px;
}
.ogbutton:hover {
    background-color: rgb(204, 206, 208);
}
.ogbutton:active {
    background-color: rgb(178, 184, 188);
}



.expbutton{
    visibility: none;
    background-color: rgb(220, 216, 216);
    height: 50px;
    width: 50px; 
    border-radius: 100px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: bold;
    text-align: flex; 
    margin: 1px; 
}
.expbutton:hover {
    background-color: rgb(204, 206, 208);
}
.expbutton:active {
    background-color: rgb(178, 184, 188);
}


.specialbutton {
    visibility: none;
    background-color: rgb(220, 216, 216);
    height: 50px;
    width: 50px; 
    border-radius: 100px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: bold;
    text-align: flex; 
    margin: 1px;
}
.specialbutton:hover {
    background-color: rgb(204, 206, 208);
}
.specialbutton:active {
    background-color: rgb(178, 184, 188);
}

#testbox { 
    width: 200px; 
}


a { 
    color: blue;
}
a.hover { 
    color: lightblue;
}